*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

header{
    display: flex;
    background-image: url(../img/gamingvarios.jpg);
    background-position:unset;
    object-fit: contain;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    height: 300px;

     
       h2{
        color: aliceblue;
        justify-content: center;
        align-items: flex-end;
        font-size: 30px;
    }
}

h3{
    color: black
    
}



img{
    height: 100%;
    height: 100%;
    object-fit: contain;
}

.parrafo{
    margin-top: 3rem;
    margin-left: 1em;
    text-align: justify;
}

nav{
    background-color: black;
    ul{
        display: flex;
        height: 100px;
        list-style-type: none;
        justify-content: space-evenly;
        align-items: center;
        margin: 0%;
        padding: 0%;
    }
    a{
        text-decoration: none;
        color: antiquewhite;
    }



}

.card{
    border-radius: 30px;
    box-shadow: 7px 13px 37px #000;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-img-top{
    object-fit: contain;
    border-radius: 20px;
   
}

table{
    background-color: rgb(222, 235, 241);
}

.iconos{
    font-size: 80px;
    background-color: rgb(168, 192, 168);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono{
    display: flex;
    flex-direction: column;
}

.icono2{
    display: flex;
    flex-direction: column;
}

.bi{
    font-size: 30px;
    margin-top: 1rem;
    margin-left: 7rem;
  
}

footer{
    display: flex;
    font-size: 25px;
    background-color: black;
    height: 200px;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    .bi{
        font-size: 30px;
        margin-top: 1rem;
        margin-left: 7rem;
    }
}
@import "media";
